a {
    text-decoration: none;
}
a:hover{
    background-color: chartreuse;
    text-decoration: underline
}
#albumCover {
    background: url("images/dogAlbum.jpg") no-repeat center;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
ul{
    display: inline-block;
    text-align:left;
}
li {
    font-style: italic;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
tbody {
    font-style: italic;
}
tbody tr:nth-child(even) {
    background-color: LemonChiffon;
  }
  
  tbody tr:nth-child(odd) {
    background-color: LawnGreen;
  }
thead {
    font-style: none;
    background-color: darkgray;
}