a {
    text-decoration: none;
}
a:hover{
    background-color: chartreuse;
    text-decoration: underline
}
#albumCover {
    background: url("images/dogAlbum.jpg") no-repeat center;
    height: 500px;
}
img.center {
    display: block;
    margin: 0 auto;
}
li {
    font-style: italic;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
tbody {
    font-style: italic;
    background-color: chartreuse;
}
thead {
    font-style: none;
    background-color: darkgray;
}